* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

}

.chess-board {
    display: flex;
    width: 500px;
    height: 500px;
   
}

.row {
    display: flex;  
}

.box {
    width: 62.5px;
    height: 62.5px;
    background-color: grey;
}
.boxdark {
    width: 62.5px;
    height: 62.5px;
    background-color: brown;
}


